.modal-details {
    --webkit-transform: translate3d(0, 0, 0);
    overflow-x: hidden;
    overflow-y: auto;
    padding: 12px;
    padding-top: 0px;

    .board-preview-wrapper {
        display: flex;
        justify-content: center;
        // padding-bottom: 8px;

        .board-preview-container {
            width: 200px;
            height: 120px;
            background: none;
            background-position: center center;
            background-size: cover;
            border-radius: 3px;
            box-shadow: 0 7px 15px rgb(0 0 0 / 15%);
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
        }
    }

    .background-container {
        padding-bottom: 4px;

        .background-picker {
            .background-list {
                padding-bottom: 8px;
                justify-content: space-between;

                li {
                    width: 40px;
                    height: 32px;

                    &.img-container {
                        width: 64px;
                        height: 40px;
                    }

                    button {
                        align-items: center;
                        background-position: center center;
                        background-size: cover;
                        border-radius: 3px;
                        box-shadow: none;
                        color: var(--brighten40Percent);
                        display: flex;
                        border: none;
                        height: 100%;
                        justify-content: center;
                        margin: 0;
                        min-height: 0;
                        outline: 0;
                        padding: 0;
                        position: relative;
                        line-height: 0;
                        width: 100%;
                        cursor: pointer;
                    }
                }
            }
        }

        label {
            color: var(--clr12);
            font-size: 12px;
            line-height: 16px;
            font-weight: 500;
            display: flex;
            flex-flow: column;
            margin-bottom: 4px;
            margin-top: 12px;
        }

        .add-board-title {
            margin-top: 2px;
            outline: none;
            border: none;
            box-sizing: border-box;
            color: var(--txtClrDark);
            color: var(--txtClrDark);
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Noto Sans", "Ubuntu", "Droid Sans",
                "Helvetica Neue", sans-serif;
            font-size: 14px;
            line-height: 20px;
            font-weight: 400;
            transition-property: background-color, border-color, box-shadow;
            transition-duration: 85ms;
            transition-timing-function: ease;
            border-radius: 3px;
            padding: 8px 12px;
            box-shadow: inset 0 0 0 2px var(--btn-bg-clr-2);
            background-color: var(--clr13);
            width: 100%;
            margin-bottom: 0;

            &:hover {
                box-shadow: inset 0 0 0 2px var(--focusFrameClr);
            }

            &.error:not(:hover) {
                box-shadow: inset 0 0 0 2px var(--error);
            }
        }

        .create-btn {
            background-color: var(--page-bg-clr-1);
            box-shadow: none;
            border: none;
            color: var(--clr14);
            width: 100%;
            margin-top: 16px;
            font-size: 14px;
            line-height: 20px;
            font-weight: 400;
            box-sizing: border-box;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: 3px;
            cursor: not-allowed;
            padding: 6px 12px;
            text-decoration: none;
            white-space: normal;
            background-color: var(--page-bg-clr-1);
            box-shadow: none;
            border: none;
            transition-property: background-color, border-color, box-shadow;
            transition-duration: 85ms;
            transition-timing-function: ease;

            &.filled {
                background-color: #0079bf;
                box-shadow: none;
                border: none;
                color: var(--clr7);
                cursor: pointer;
            }

            &.new-label {
                font-weight: 500;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #091e420f;
                height: 32px;
                border-radius: 3px;
                transition: all 0.1s;
                color: #172b4d;
                cursor: pointer;
                margin: 15px 0 0;
                font-size: 0.875rem;
                font-weight: 500;
            }
        }
    }
}

.modal-header-txt {
    color: var(--clr9);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.003em;
    line-height: 40px;
    display: block;
    position: relative;
    height: 40px;
    margin: 0;
    overflow: hidden;
    padding: 0 32px;
    text-overflow: ellipsis;
    white-space: nowrap;
    grid-column: 1 / span 3;
    grid-row: 1;
}
