.dynamic-action-modal {
    position: fixed;
    width: 304px;

    color: var(--clr8);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Noto Sans", "Ubuntu", "Droid Sans",
        "Helvetica Neue", sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    font-display: swap;
    background-color: var(--clr7);
    border-radius: 8px;
    box-shadow: var(--ds-shadow-overlay, 0px 8px 12px #091e4226, 0px 0px 1px #091e424f);
    box-sizing: border-box;
    outline: 0;
    z-index: 100;

    .modal-header {
        padding: 4px 8px;
        position: relative;
        text-align: center;
        display: grid;
        align-items: center;
        grid-template-columns: 32px 1fr 32px;

        .popover-close-btn {
            background: transparent;
            border: none;
            color: var(--ds-icon-subtle, var(--clr4));
            cursor: pointer;
            margin: 0;
            padding: 0;
            z-index: 2;
            outline: none;
            grid-column: 3;
            grid-row: 1;
            color: var(--ds-icon-subtle, var(--clr4));
            border-radius: 8px;
            display: flex;
            width: 32px;
            height: 32px;
            justify-content: center;
            align-items: center;
        }

        .span-close {
            display: inline-block;
            flex-shrink: 0;
            line-height: 1;
            width: 16px;
            height: 16px;
        }

        .simple-close-btn {
            font-size: 12px;
            position: absolute;
            right: 0px;
            top: 5px;
            background-color: inherit;
            border: none;
            padding: 10px 0px 10px 8px;

            .btn-content {
                color: var(--clr4);
            }
        }
    }
}
