.description-container {
    grid-template-columns: 2/3;
    margin: 10px 0 23px 0;

    pre {
        background-color: var(--btn-bg-clr-2);
        box-shadow: none;
        border: none;
        color: var(--clr8);
        text-decoration: none;
        height: max-content;
        min-height: 56px;
        resize: vertical;
        font-weight: 500;
        border-radius: 3px;
        display: block;
        padding: 8px 12px;
        text-wrap: nowrap;

        &:hover {
            background-color: var(--btn-bg-clr-4);
        }
    }

    h2 {
        color: var(--txtClrDark);
        font-weight: 600;
        margin-bottom: 12px;
    }

    textarea {
        width: 100%;
        min-height: 56px;
        resize: vertical;
        outline: none;
        background-color: var(--btn-bg-clr-2);
        font-weight: 500;

        padding: 8px 12px;
        border: none;
        border-radius: 3px;
        padding: 8px 12px;
        text-wrap: nowrap;

        cursor: pointer;

        &::placeholder {
            color: var(--clr8);
        }

        &:focus {
            @include input-task-feature;
            background-color: white;
        }
    }

    .btns {
        gap: 6px;
        margin-top: 5px;

        .save-btn {
            @include blue-action-btn;
        }

        .cancel-btn {
            color: var(--clr8);
            font-weight: 500;
            padding: 6px 12px;
            border-radius: 3px;
        }

        .cancel-btn:hover {
            background-color: var(--clr4) Hover;
        }
    }
}
