.member-img-container {
    margin-inline-start: -3px;
    .member-image {
        // border-radius: 50%;
        // // margin-inline-end: 10px;
        // font-size: rem(14px);
        // color: white;
        cursor: pointer;

        &:hover {
            opacity: 0.8;
        }
    }
}
.initials {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;

    span {
        font-family:
            system-ui,
            -apple-system,
            BlinkMacSystemFont,
            "Segoe UI",
            Roboto,
            Oxygen,
            Ubuntu,
            Cantarell,
            "Open Sans",
            "Helvetica Neue",
            sans-serif;
        font-weight: 500;
        margin-bottom: 1px;
        font-size: rem(14px);
    }
}
