.feature-attachment {
    .modal-header-txt {
        padding: 0 0px;
    }

    .attach-file {
        margin-top: 7px;
    }

    .upload-btn {
        @include btn-gray-bgc;

        width: 100%;
        margin: 14px 0;
        font-size: rem(14px) !important;
    }

    input {
        display: none;
    }
}
