.feature-attachment{

    .attach-file{
        margin-top: 7px;
    }
    
    .upload-btn{
        @include btn-gray-bgc;

        width: 100%;
        margin: 12px 0;
    }

    input{
        display: none;
    }
}