.feature-members {
    .search-members {
        @include input-task-feature;
    }

    .members-container {
        .member {
            gap: 10px;
            color: var(--clr8);
            padding: 4px;
            border-radius: 3px;
            cursor: pointer;

            .member-name {
                font-weight: initial;
            }

            &:hover {
                background-color: var(--clr4) Hover;
            }

            svg {
                margin-inline: auto 11px;
            }
        }

        > *:not(:last-child) {
            margin-bottom: 2px;
        }
    }
}
