.task-details .checklist {
    .checklist-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .checklist-todos {
        grid-column: 1 / -1;

        .todo {
            display: grid;
            grid-template-columns: 1.5rem 1fr;
            column-gap: em(5px);
            align-items: center;

            input[type="checkbox"] {
                height: 1rem;
                width: 1rem;
                justify-self: center;
            }

            .todo-item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: em(14px);
                min-height: em(12px, 14px);
                padding: em(6px, 14px) em(8px, 14px);
                border-radius: em(12px, 14px);

                .btn-delete-todo {
                    height: 1.25rem;
                    width: 1.25rem;
                    display: none;
                    border-radius: 50%;
                }

                &:hover {
                    cursor: pointer;
                    background-color: var(--task-details-btn-bg-clr);

                    .btn-delete-todo {
                        display: grid;
                        align-content: center;
                        justify-content: center;
                    }
                }
            }
        }
    }

    .todo-title-input {
        height: auto;
        padding: 0.5rem 0.75rem;
    }
}
