.task-details .checklist {
    .checklist-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .checklist-todos.checklist-todos {
        grid-column: 1 / -1;

        .todo {
            display: grid;
            grid-template-columns: 1.5rem 1fr auto;
            column-gap: 1rem;
            align-items: center;

            input[type="checkbox"] {
                height: 1rem;
                width: 1rem;
                justify-self: center;
            }

            .btn-delete-todo {
                height: 1.25rem;
                width: 1.25rem;
                display: grid;
                align-content: center;
                justify-content: center;
                border-radius: 50%;
            }
        }
    }

    .todo-title-input {
        height: auto;
        padding: 0.5rem 0.75rem;
    }
}

.button-container {
    display: flex;
    gap: 0.25rem;

    button {
        padding: 0.375rem 0.75rem;
    }

    .btn-cancel {
        background-color: #0000;

        &:hover {
            background-color: var(--task-details-btn-hover-bg-clr);
        }
    }

    .btn-confirm {
        color: #fff;
        background-color: var(--btn-confirm-bg-clr);

        &:hover {
            background-color: var(--btn-confirm-hover-bg-clr);
        }
    }
}
