.cover-container {
    max-height: em(160px);
    width: 100%;
    text-align: center;

    .cover-bg-clr {
        max-height: em(160px);
        position: relative;
        
        .cover-img-warpper {
            img {
                width: unset;
                max-height: em(160px);
                background-size: contain;
                background-position: center center;
                background-repeat: no-repeat;
            }
        }
        .cover-btn {
            position: absolute;
            right: em(18px);
            bottom: em(6px);
        }
    }
}
