.task-details {
    .description-input {
        height: 14rem;
        padding: 1.25rem;
    }

    .btn-description {
        width: 100%;
        align-items: start;

        &:not(.not-button) {
            height: 3.5rem;
            padding: 0.5rem 0.75rem;
            display: flex;
        }

        &.not-button {
            background-color: #0000;
            height: fit-content;
    
            &:hover {
                background-color: #0000;
            }
        }
    }
}