.task-details-data {
    display: grid;
    grid-template-columns: 43px 512px;
    grid-template-rows: repeat(auto-fit, 1fr);

    .description-svg {
        grid-template-columns: 1/2;
        margin-top: 10px;

        svg {
            width: 24px;
            height: 24px;
            color: var(--clr9);
        }
    }

    .checklist-svg {
        grid-template-columns: 1/2;
        margin-top: 16.5px;

        svg {
            width: 19px;
            height: 19px;
        }
    }

    .attachment-svg {
        grid-template-columns: 1/2;

        svg {
            width: 19px;
            height: 19px;
        }
    }

    .attachment-header {
        grid-template-columns: 2/3;
        font-size: rem(16px);
        font-weight: 600;
        color: var(--clr8);
        margin-bottom: 12px;
    }

    p.attachment-header {
        margin: 0;
        margin-bottom: 0.5em;
        padding: 0;
    }

    .attachments-container {
        grid-column: 2/3;

        flex-direction: column;
        gap: 10px;

        .content button {
            margin: 0;
            padding: 0;
        }
    }
}
