.homepage-footer {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr minmax(370px, 1100px) 1fr;

    * {
        color: var(--clr7);
    }

    background-color: var(--clr8);

    p {
        font-size: rem(12px);
    }

    span {
        font-size: 16px;
    }

    .upper-section {
        grid-column: 2/3;

        display: flex;
        justify-content: space-between;
        align-items: center;
        .footer-logo {
            img {
                width: rem(60px);
            }
        }
    }
}
