.login-signup-page {
  padding-block-start: rem(80px);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;

  .login-logo-img {
    display: block;
    height: rem(35px);
    margin: rem(40px) auto;
  }

  .main-login {
    overflow: visible;
    margin-bottom: rem(30px);
    padding-inline: rem(20px);

    @include for-normal-layout {
      padding-inline: 0;
    }

    .login-container {
      margin: 0 auto;
      max-width: rem(400px);
      height: rem(564px);

      & * {
        width: 100%;
      }

      p {
        text-align: center;
        margin-block: rem(16px);
        font-size: rem(12px);
        font-weight: 100;
        line-height: 1;
      }

      .login-container-layout {
        background-color: var(--clr7);
        border-radius: 3px;
        padding: rem(25px) rem(25px);
        box-shadow: rgba(0, 0, 0, 0.1) 0 0 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: rem(500px);

        img {
          max-width: rem(120px);
        }

        @include for-narrow-layout {
          padding: rem(25px) rem(40px);
        }

        .credentials-warning {
          padding: rem(16px);
          margin-bottom: rem(8px);
          text-align: center;
          justify-content: center;
          align-items: center;
          background-color: var(--clr6);
          display: flex;

          .warning-icon {
            width: max-content;

            svg {
              fill: var(--clr7);
              color: var(--warning);
            }
          }
        }

        .login-signup-title {
          text-align: center;
          color: var(--clr8);
          font-size: rem(16px);
          line-height: rem(28px);
          margin-top: rem(10px);
          margin-bottom: rem(25px);
        }

        button.login-btn {
          font-size: rem(14px);
          height: rem(40px);
          font-family:
            system-ui,
            -apple-system,
            BlinkMacSystemFont,
            "Segoe UI",
            Roboto,
            Oxygen,
            Ubuntu,
            Cantarell,
            "Open Sans",
            "Helvetica Neue",
            sans-serif;
            font-weight: 500;
        }

        .or-btn {
          color: var(--clr5);
        }

        .login-password-container {
          .login-form {
            .email-input {
              font-size: rem(14px);
              background-color: #fafbfc;
              border: 2px solid #dfe1e6;
              border-radius: 3px;
              height: rem(40px);
              transition:
                background-color 0.2s ease-in-out 0s,
                border-color 0.2s ease-in-out 0s;
              padding: rem(7px);
              margin: 0 0 rem(8px);

              &:focus {
                padding-inline: rem(9px);
                box-shadow: inset 0 0 0 2px #388bff;
                outline: none;
                border: none;
              }
            }

            .continue-btn {
              font-size: rem(14px);
              height: rem(33px);
              color: #fff;
              padding: rem(8px) rem(18px);
              border-radius: 4.2px;
              font-family: inherit;
              font-weight: 500;

              &:hover {
                background: #61bd4f;
              }
            }

            .continue-btn-gray {
              // cursor: not-allowed;
              background-color: rgb(235, 236, 250);
              color: rgb(122, 134, 154);
              padding: rem(8px) rem(18px);
              border-radius: 4.2px;
              font-family: inherit;
              font-weight: 500;
              font-size: rem(14px);
              height: rem(33px);
            }
          }

          .empty-input {
            display: flex;
            justify-content: center;
            align-items: center;

            margin: -4px 0 4px 0;

            .alert-icon {
              width: max-content;
              svg {
                fill: var(--clr7);
              }
            }

            span {
              font-size: rem(12px);
              color: var(--emptyTxt);
            }

            input {
              border-color: #de350b;
            }
          }
        }

        .legal-message {
          font-size: rem(12px);
          color: var(--clr9);
          margin-block: 1.5rem;
        }

        .login-separator {
          text-align: center;
          font-size: rem(12px);
          line-height: 1;
          margin-top: rem(16px);
          margin-bottom: rem(16px);
        }

        .login-links {
          a {
            background: #fff;
            color: rgba(0, 0, 0, 0.54);
            box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 5px 0;
            border-color: transparent;
            text-align: center;
            border-radius: 3px;
            width: 99%;
            height: rem(39px);
            padding-top: 0;
            margin-bottom: rem(12px);
            display: block;
            text-decoration: none;

            &:hover {
              background-color: #f9fafc;
            }

            .login-label {
              display: inline-block;
              vertical-align: middle;
              font-size: rem(14px);
              font-family: inherit;
              font-weight: 500;
              color: #505f79;
              padding: rem(3px);
              height: rem(38px);
              line-height: rem(32px);
            }
          }
        }

        hr {
          margin: rem(25px) rem(0px) rem(14px);
          display: block;
          height: rem(1px);
          border: 0;
          border-top: 1px solid hsl(0, 0%, 80%);
        }

        .account-btn {
          text-align: center;
          font-size: rem(14px);
          background: none;
          color: var(--btn-bg-clr-1);

          &:hover {
            color: var(--btn-bg-clr-hoverd-1);
            text-decoration: underline;
          }
        }

        .policy-btn {
          cursor: pointer;
          text-align: center;
          font-size: rem(12px);
          background: none;
          color: var(--btn-bg-clr-1);

          &:hover {
            color: var(--btn-bg-clr-hoverd-1);
            text-decoration: underline;
          }
        }
      }
    }
  }
}

footer {
  .img-footer-container {
    z-index: -900;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;

    .footer-img-left {
      position: absolute;
      width: rem(400px);
      bottom: 0;
      left: 0;
      z-index: -999;
      max-width: 30%;
    }

    .footer-img-right {
      position: absolute;
      width: rem(400px);
      bottom: 0;
      right: 0;
      z-index: -999;
      max-width: 30%;
    }
  }
}
