.root-cmp {
    overflow: auto;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    height: 100%;
    background-size: cover;
    background-position: center center;
    
    .app-header {
        grid-area: 1 / 1 / span 1 / -1;
    }

    .side-bar-left {
        grid-area: 2 / 1;
    }

    .main-screen{
        grid-area: 2 / 2;
        overflow: auto;
        display: flex;
        flex-direction: column;
        height: 100%;
    
        &>*{
            justify-content: center;
            flex: 1
        }
    }
}