.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--task-details-container-bg-clr);
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 15px;
    }

    .task-details-container {
        position: relative;
        display: grid;
        grid-template-columns: 43px 512px 1fr;
        align-content: baseline;

        width: 768px;
        background-color: var(--task-details-opaque-bg-clr);
        padding: 21px 16px 26px 16px;
        border-radius: 8px;
        margin: 48px 0 80px 0;
        z-index: 20;
        height: fit-content;
        min-height: 795px;

        .cover {
            grid-column: 1/-1;
            height: 116px;
            width: calc(100% + 32px);
            margin: -21px -16px 21px -16px;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }

        .cover.img {
            height: 160px;
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
        }

        .task-title p {
            height: 23px;
            margin: 0;
        }

        .task-details-content {
            grid-column: 1/-1;
            gap: 15px;
        }
    }

    * {
        font-family:
            system-ui,
            -apple-system,
            BlinkMacSystemFont,
            "Segoe UI",
            Roboto,
            Oxygen,
            Ubuntu,
            Cantarell,
            "Open Sans",
            "Helvetica Neue",
            sans-serif;
        font-size: rem(14px);
    }

    p,
    p * {
        font-size: rem(14px);
    }

    h3 {
        font-size: rem(12px);
        color: var(--clr9);
    }

    h2 {
        font-size: rem(16px);
        color: var(--clr8);
    }

    .exit-taxt-details-btn {
        position: absolute;
        top: 15px;
        right: 15px;
        padding: 5px 8.5px 5px 8.5px;
        cursor: pointer;

        &:hover {
            background-color: var(--task-details-btn-hover-bg-clr);
            border-radius: 50%;
        }

        svg {
            width: 20px;
            height: 20px;
            margin-top: 3px;
            color: var(--clr9);
        }
    }
}

.task-header {
    position: relative;
    display: grid;
    grid-template-columns: 43px minmax(640px, 65dvw) 1fr;
    font-size: 0.875rem;

    .title-img {
        display: grid;
        grid-auto-flow: column;
    }

    .task-title {
        .title-input-container {
        }

        textarea {
            width: 100%;
            position: relative;
            margin-bottom: 6px;
            font-size: rem(20px);
            color: var(--clr8);
            font-weight: 600;
            padding-inline: 3px;
            // word-break: break-word;
        }

        a {
            color: var(--clr9);
            text-decoration: underline;
            margin-inline: 5px 10px;
        }
    }

    svg {
        margin: 4px;
        margin-top: 2px;
    }
}

@media (max-width: 800px) {
    .task-header {
        grid-template-columns: 43px 75dvw 1fr;
    }

    .task-details-container {
        grid-template-columns: 43px 1fr !important;
        margin-inline: 5px !important;
        max-width: 95vw !important;

        .task-details-content {
            flex-direction: column !important;
        }

        .task-features {
            display: flex !important;
            flex-wrap: wrap !important;

            h3 {
                width: 100% !important;
            }

            > * {
                width: calc(50% - 8px) !important;
            }

            > *:not(:last-child) {
                margin-inline-end: 8px !important;
            }
        }

        .task-details-data {
            grid-template-columns: 43px 1fr !important;
        }
    }
}

@media (max-width: 410px) {
    .task-header {
        grid-template-columns: 43px 65dvw 1fr;
    }

    .dates-data .dates-txt {
        flex-direction: column !important;
        height: fit-content !important;
        align-items: start !important;
    }
}
